# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/

# Netlify
.netlify/

# Operating system
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp